*{
    transition: all 0.2s ease-out;
}
html::-webkit-scrollbar {
    width: 1rem;
  }
  html::-webkit-scrollbar-track {
    background: #606060ff;
  }
  html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
  }
body{
    background-color: #ff7a00; 
    padding:0px 10px 10px 10px; 
    box-sizing: border-box;
}
.nav_cont{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0rem;
    right: 1%;
    left: 0;
    background-color: white;
    padding: 1rem 8%;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
    z-index: 1000;
    height: 100px;
}
.logo{
    width:35%;
}
.logo>img{
max-width:19rem;
max-height:75%;
}
.nav-items ul a li{
    display: inline;
    list-style-type:none;
}
.nav-items ul a{
    text-decoration: none;
    padding:0.6rem 0rem;
    font-weight:502;
    margin-left:0.8rem;
    font-size:1.28rem;
    color: #2C599D;
}
.text-center{
    padding-top:60px;
}
.fa-bars{
    display:none;
}

@media screen and (max-width:990px){
    .nav{
        height:100px;
        padding:0.5rem 1rem 0.5rem 1rem;
    }
    .nav-items{
        position: absolute;
        top:101%;
        left:0px;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .active{
        width:100%;
        background-color: white;
        position: absolute;
        top:101%;
        left:0px;
        border-bottom: 0.05rem solid rgba(0, 0, 0, 0.1);
        border-top:none;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .nav-items ul{
        padding:0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap:wrap;
    }
    .nav-items ul a{
        display:block;
        text-align: center;
        width:100%;
        margin:0.3rem;
    }
    .nav-items ul  a:hover{
        color:#ff7a00;
    }
    
    .fa-bars{
        display:block;
        padding:0.5rem;
    }
}
@media screen and (max-width:575px){
    .nav{
       width:96.5%;
    }
}
@media screen and (max-width:800px){
    .nav{
        width:96%;
    }
    .logo{
        width:40%;
    }
}
@media screen and (max-width:411px){
    .nav{
        width: 94.5%;
    }
    .logo>img{
        max-width:200%;
        max-height:200%;
    }
}
@media (min-width: 320px) and (max-width:475px) {
    .nav{
        width: 93.9%;
    }
    .logo{
        width:60%;
    }
    .logo>img{
        max-width:130%;
        max-height:130%;
    }
    .nav{
        height:100px;
    }
    .nav-items{
        position: absolute;
        top:101%;
        left:0px;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .active{
        width:100%;
        background-color: white;
        position: absolute;
        top:101%;
        left:0px;
        border-bottom: 0.05rem solid rgba(0, 0, 0, 0.1);
        border-top:none;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .nav_cont {
        display: flex;
        flex-direction: row;
        flex: 1;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: fixed;
        top: 0rem;
        right: 1%;
        left: 0;
        background-color: white;
        padding: 1rem 8%;
        border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
        z-index: 1000;
        height: 100px;
    }
}

p,a,h1,h2,h3,h4 {
	margin: 0;
	padding: 0;
}

.section-team {
	font-family: "Poppins", sans-serif;
	padding: 80px 0;
}

.section-team .header-section {
	margin-bottom: 50px;
}

.section-team .header-section .small-title {
    margin-bottom: 25px;
	font-size: 16px;
    font-weight: 500;
    color: #ff7a00;
}

.section-team .header-section .title {
    font-weight: 700;
    font-size: 45px;
}

.section-team .single-person {
	margin-top: 30px;
	padding: 30px;
	background-color: #f6f9ff;
	border-radius: 5px;
}

.section-team .single-person:hover {
	background: #ff7a00;
}

.section-team .single-person .person-image {
    position: relative;
    margin-bottom: 50px;
    border-radius: 50%;
    border: 4px dashed transparent;
    transition: padding .3s;
}

.section-team .single-person:hover .person-image {
	padding: 12px;
    border: 4px dashed #fff;
}

.section-team .single-person .person-image img {
	width: 100%;
    border-radius: 50%;
}


.section-team .single-person .person-image .icon1 {
	position: absolute;
    bottom: 10%;
    left: 20%;
    transform: translate(-50%,50%);
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #ff7a00;
    color: #fff;
    border-radius: 50%;
    font-size: 24px;
}

.section-team .single-person .person-image .icon1 i{
    margin: 27%;
}

.section-team .single-person:hover .person-image .icon1 {
	background: none;
	background-color: #fff;
	color: #ff7a00;
}

.section-team .single-person .person-image .icon2 {
	position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,50%);
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #ff7a00;
    color: #fff;
    border-radius: 50%;
    font-size: 24px;
}

.section-team .single-person .person-image .icon2 i{
    margin: 27%;
}


.section-team .single-person:hover .person-image .icon2 {
	background: none;
	background-color: #fff;
	color: #ff7a00;
}

.section-team .single-person .person-image .icon3 {
	position: absolute;
    bottom: 10%;
    left: 80%;
    transform: translate(-50%,50%);
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #ff7a00;
    color: #fff;
    border-radius: 50%;
    font-size: 24px;
}

.section-team .single-person .person-image .icon3 i{
    margin: 27%;
}

.section-team .single-person:hover .person-image .icon3 {
	background: none;
	background-color: #fff;
	color: #ff7a00;
}

.section-team .single-person .person-info .full-name {
	margin-bottom: 10px;
	font-size: 24px;
    font-weight: 700;
}

.section-team .single-person .person-info .speciality {
    text-transform: uppercase;
    font-size: 14px;
    color: #ff7a00;
}

.section-team .single-person:hover .full-name,
.section-team .single-person:hover .speciality {
	color: #fff;
}
/* styling footer */
#footer{
    background-color: rgba(232, 232, 232, 0.3);
    border-radius:0pc 0pc 20px 20px;
}

.footer-about>p{
    color:#ff7a00;
    text-align:justify;
    font-weight:600;
    margin-top:10px;
}

#footer h3{
    font-size:1.3rem;
    text-align:center;
    margin-bottom:20px;
    color:#2C599D;
}
.footer-quick-links ul{
    list-style:none;
    font-weight:600;
    margin-top:10px;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    padding-left:0px;
}
.footer-quick-links ul a{
    text-decoration:none;
    color:#ff7a00;
    text-align:center;
    padding:8px 0px;
}

.footer-quick-links ul a:hover{
    color:#2c599d;
}

.footer-social-media{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
}

.email{
    display:flex;
    justify-content: center;
    align-items:center;
}
.email a{
    margin-right:10px;
    padding:10px;
    color:#ff7a00;
}
.email p{
    margin:0px;
}

.footer-social-media ul{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    list-style:none;
    margin-top:10px;
    padding:20px 0px;
    border-top:0.5px solid #2c599d;
}
.footer-social-media ul a {
    margin:0px 15px;
    color:#ff7a00;
}

.credit{
    margin-top:20px;
    font-size:1.2rem;
}

.credit, .copyright{
    border-top: 0.1rem solid #d76067;
    padding:20px 0px;
}