@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
:root {
  background-color: #f57520;
  scroll-behavior: smooth;

  /* --gradient: linear-gradient(315deg,#647dee,#7f53ac) */
  /* background-color: #045de9;
background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%); */
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s ease-out;
  --orange-color: #ff7a00;
  --white-color: #ffffff;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: #606060ff;
}
html::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5rem;
}
body {
  background: var(--gradient);
  padding: 2rem 7%;
  padding-bottom: 9rem;
}
.container {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
/* .btn {
  display: inline-block;
  margin-top: 2rem;
  padding: 0.8rem 3rem;
  border-radius: 0.5rem;
  background: #045de9;
  color: #fff;
  cursor: pointer;
  font-size: 1.7rem;
  font-weight: 500;
}
.btn:hover {
  background: #4056a1;
} */
section {
  padding: 3rem 7%;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 84%;
  position: fixed;
  top: 0rem;
  left: 8%;
  background-color: white;
  padding: 1rem 8%;
  border-radius: 20px 20px 0px 0px;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
  z-index: 1000;
  height: 100px;
}

@media screen and (max-width: 412px) {
  #header {
    top: 0rem;
  }
  #about-gs,
  #about-gwoc {
    padding: 10px;
  }
}

header .logo {
  font-size: 2.5rem;
  font-weight: bold;
  background: var(--gradient);
  /* -webkit-background-clip: text; */
  -webkit-text-fill-color: transparent;
}
header .logo img {
  max-width: 30rem;
}

header .navbar a {
  margin-left: 2rem;
  font-size: 2rem;
  font-weight: 500;
  color: #2C599D;
  text-decoration: none;
}
header .navbar a:hover {
  color: var(--cherry-tomoto);
}
#menu {
  font-size: 2.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: none;
}
.home {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  /* background:url("../assets/bg.png");
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat; */
}
.home .content {
  flex: 1 1 60%;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15rem;
  font-weight: bolder;
}
.home .content h3 {
  font-weight: bolder;
}
.home .illustration {
  flex: 1 1 50%;
}
.home .illustration > img {
  max-width: 90%;
  padding-top: 11rem;
}
.home .content h3 {
  /* color: #4056A1; */
  color: transparent;
  background: #2C599D;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.footer {
  background-color: rgba(232, 232, 232, 0.3);
}
.footer .email{
  display:flex;
  justify-content: center;
  align-items:center;
}
.email p{
  font-size:1.5rem;
  margin:0px;
}
.email a{
  color:#ff7a00;
  margin-right:10px;
}
.footer ul {
  padding-top:20px;
}
.footer ul {
  border-top:0.5px solid #2C599D;
}

/* h1::before {
  content: " ";
  position: absolute;
  bottom: 15px;
  width: 180px;
  height: 10px;
  transform: skew(-28deg) translateX(-10%);
  background: #ec8f95;
  z-index: 20;
} */
.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.projects .box {
  flex: 1 1 40rem;
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
}
.projects .box img {
  height: 20rem;
  width: 100%;
}
.projects .box h3 {
  color: #4056a1;
  font-size: 2rem;
  padding: 1rem 6rem;
}
.projects .box .btn {
  margin-left: 6rem;
  padding: 1rem 6rem;
}

/* footer */

/* .footer-logo {
  width: 30rem;
  font-size: 2.5rem;
  font-weight: bold;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footerkalogo {
  flex-direction: column;
  width: 400px;
  align-items: flex-end;
  margin: auto;
} */

/* responsiveness */
.footer .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.footer .box-container .box {
  flex: 1 1 20rem;
  text-align: center;
}
.footer .box-container .box h3 {
  font-size: 2rem;
  color: #2C599D;
  padding: 2rem 0;
}
.footer .box-container .box p {
  font-size: 1.6rem;
  color: #f57520;
  font-weight: 500;
  padding: 0.7rem 0;
  text-transform: none;
  text-align: justify;
}
.footer .box-container .box p i {
  padding-right: 0.5rem;
  color: #f57520;
}
.footer .box-container .box a {
  display: block;
  font-size: 1.7rem;
  font-weight: 500;
  color: #f57520;
  padding: 0.7rem 0;
  text-decoration: none;
}
.footer .box-container .box a:hover {
  color: #753a88;
}
.footer .credit {
  font-size: 2rem;
  margin-top: 1rem;
  padding: 1rem;
  padding-top: 2rem;
  text-align: center;
  border-top: 0.1rem solid #d76067;
}

.contact {
  font-size: 2rem;
  color: #2C599D;
  padding: 2rem 0;
  text-align: center;
}

ul[class="social-media1"] {
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-basis: 100%;
  position: relative;
  margin-top: 2rem;
}

li[class="sm1"] a {
  margin: 0px 10px;
  position: relative;
  z-index: 100;
  border-radius: 50%;
  width: 36px;
  height: 39px;
  line-height: 36px;
  font-size: 16px;
  display: block;
  text-align: center;
  color: #f57520;
}

li[class="sm1"] a:hover {
  color: #2C599D;
}
/* Footer Social Media links finishes. */

/* For responsive floating social media links */
@media only screen and (max-width: 765px) {
  .social1 {
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
  .social {
    display: none;
    visibility: hidden;
  }
}

.footer .credit-end {
  font-size: medium;
  margin-top: 1rem;
  padding: 1rem;
  padding-top: 2rem;
  text-align: center;
  border-top: 0.1rem solid #d76067;
}
.footer .credit span {
  color: #f57520;
  font-weight: 500;
}

@media (max-width: 1252px) {
  html {
    font-size: 55%;
  }
  body {
    padding: 0rem 1.5rem 1.5rem 1.5rem;
  }
  header {
    padding: 2rem;
    width: 86%;
    left: 7%;
  }
}
@media screen and (max-width: 1100px) {
  .home {
    flex-wrap: wrap;
    padding-top: 80px;
  }
  header {
    width: 97.4%;
    left: 1.5rem;
    top: 1rem;
  }
}
@media (max-width: 778px) {
  #menu {
    display: initial;
  }
  header .navbar {
    position: absolute;
    font-size: 1rem;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  header .navbar a {
    width: 80%;
    font-size: 2.5rem;
    display: block;
    margin: 2rem 0;
    text-align: center;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 50%;
  }
  header {
    width: 94.2%;
    /* left:15.8rem; */
  }
}

/* Styling the about-gs and about-gwoc section */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px;
  position: relative;
  top: 30px;
}
#about-gs {
  background-color: var(--orange-color);
  color: var(--white-color);
  position: relative;
  top: 4rem;
}
#about-gwoc {
  background-color: var(--white-color);
  color: var(--orange-color);
  color: #2C599D;
}
.about-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
#about-gwoc .about-content {
  @media screen and (max-width: 1409px) {
    .structure-content h2 {
      font-size: 2.3rem;
    }
    .structure-content ul {
      font-size: 1.5rem;
    }
    .structure-card .structure-box {
      flex-direction: column;
      margin: 20px 10px;
    }
    .structure-card {
      position: relative;
      width: 280px;
      height: 280px;
      box-shadow: 1px 1px 3px 1px var(--white-color);
      border-radius: 15px;
      margin: 10px;
      background-color: #fff;
      color: #ff4e00;
      overflow: hidden;
      transition: 0.5s;
    }
  }
  color: var(--orange-color);
}
#about-gwoc .about-content span {
  font-weight: bolder;
}
#about-gs .logo {
  width: 100%;
}
.about .heading {
  text-align: center;
  font-size: 4.5rem;
  margin: 0px auto 30px auto;
}
.about-heading span {
  font-weight: bolder;
}
.about-content {
  font-size: 1.8rem;
}
#about-gwoc .about-content {
  line-height: 30px;
}
.logo {
  text-align: center;
  margin: auto 10px;
  width: 30%;
}
.logo img {
  max-width: 90%;
  max-height: 90%;
}
#about-gwoc .gwoc-logo > img {
  max-width: 80%;
  max-height: 100%;
  position: relative;
  bottom: 53px;
}

/* styling registration section */
#registration {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  margin-bottom: 40px;
}
#registration-heading {
  text-align: center;
  font-size: 4.5rem;
  width: 100%;
  color: #2C599D;
  font-weight: bold;
  padding: 10px;
  margin: 20px 0px;
}
#registration .registration-box {
  width: 350px;
  height: 400px;
  max-height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5px;
  text-align: justify;
  border-radius: 20px;
  box-shadow: 1px 1px 3px 1px var(--orange-color);
  padding: 15px 10px;
}
#registration .registration-box h3 {
  color: var(--orange-color);
  font-size: 2.5rem;
  margin: 5px;
  margin-top: 10px;
  padding-top: 20px;
  font-weight: 800;
}
#registration .registration-box p {
  font-size: 1.7rem;
  font-weight: lighter;
  margin: 5px;
  margin-bottom: 40px;
  color: black;
}

#registration .registration-box p span {
  font-weight: bold;
}

#registration .registration-box .register-button {
  width: 150px;
  height: 40px;
  background-color: var(--orange-color);
  border: none;
  color: var(--white-color);
  font-weight: bold;
  padding: 10px;
  border-radius: 20px 0px 20px 0px;
  border-radius: 20px;
  letter-spacing: 1.5px;
  font-size: 1.2em;
  transition: ease-out 0.5s;
}
#registration .registration-box .register-button:hover {
  box-shadow: inset 200px 0px 0px 0px #2C599D;
}

.faq {
  position: relative;
  margin-bottom: 3.5rem;
}

.faq-button {
  padding-top: 25px;
  margin: 0 auto;
  display: block;
  width: 150px;
  height: 40px;
  background-color: var(--orange-color);
  border: none;
  color: var(--white-color);
  font-weight: bold;
  padding: 10px;
  border-radius: 20px 0px 20px 0px;
  border-radius: 20px;
  letter-spacing: 1.5px;
  font-size: 1.2em;
  transition: ease-out 0.5s;
}

.faq-button:hover {
  box-shadow: inset 200px 0px 0px 0px #2C599D;
}

@media screen and (max-width: 750px) {
  .about {
    flex-wrap: wrap;
  }
  .about-info {
    width: 100%;
    padding: 10px;
  }
  .about .heading {
    text-align: left;
  }
  .logo {
    width: 50%;
    margin: auto 0px;
  }
  #about-gs {
    flex-direction: column-reverse;
    padding: 50px 5px;
  }
  #about-gs .logo {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 400px) {
  .heading {
    font-size: 3.3rem;
  }
  .about {
    padding: 30px 10px;
  }
  #about-gwoc .gwoc-logo {
    display: none;
  }
  .about-info {
    padding: 10px;
  }
  #registration .registration-box {
    margin: 20px 10px;
  }
  #registration .register-button {
    margin-bottom: 10px;
    font-size: 2rem;
  }
  #registration .registration-box p {
    font-size: 1.8rem;
  }
  #registration .registration-box h3 {
    font-size: 2.8rem;
  }
  header {
    width: 93.3%;
    left: 1.5rem;
    top: 0px;
  }
}

/* STYLING THE SCHEDULE TIMELINE */
#timeline {
  padding: 50px;
  font-size: 100%;
  background: url("../assets/schedule.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#timeline-heading {
  text-align: center;
  font-size: 4.5rem;
  width: 100%;
  color: #2C599D;
  font-weight: bold;
  padding: 10px;
  margin: 20px 0px;
}
#timeline-container {
  position: relative;
  /* max-width:1200px; */
  margin: 20px auto;
  padding: 30px 30px 30px 50px;
}
#timeline-container::after {
  content: "";
  position: absolute;
  width: 7px;
  background-color: black;
  top: 0px;
  bottom: 0px;
  left: 50%;
}
.event-container {
  padding: 0px;
  position: relative;
  width: 40%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 15px;
}
.container-dates {
  padding: 15px 20px;
  line-height: 25px;
  background-color: #ff7a00;
  color: white;
  border-radius: 15px 15px 0px 0px;
}
.container-dates h3 {
  font-size: 1.8em;
}
.container-dates p {
  font-size: 1.8em;
  padding: 5px 0px;
  font-weight: bolder;
  color: black;
}
.container-content {
  color: #ff7a00;
  padding: 20px 30px;
  font-size: 1.6em;
  background-color: white;
  border-radius: 0px 0px 15px 15px;
}
/* .event-container:hover .container-content {
  display: block;
} */
/* .event-container:hover .container-dates {
  border-radius: 15px 15px 0px 0px;
} */
.event-container::after {
  content: "";
  background-color: red;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
}

.left::after {
  right: -26.5%;
}
.right::after {
  right: 117%;
}
.right {
  left: 55%;
  margin-left: 20px;
}
#event2 {
  bottom: 20px;
}
#event3 {
  bottom: 40px;
}
#event4 {
  bottom: 60px;
}
#event5 {
  bottom: 80px;
}
#event6 {
  bottom: 100px;
}
#event7 {
  bottom: 100px;
}
#event8 {
  bottom: 120px;
}

@media screen and (max-width: 800px) {
  #timeline-container::after {
    left: 0%;
  }
  .event-container {
    width: 100%;
  }
  .left {
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 0px;
    margin-left: 30px;
  }
  .right {
    left: 0%;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 0px;
    margin-left: 30px;
  }
  .left::after,
  .right::after {
    left: -87px;
  }
  #event1,
  #event2,
  #event3,
  #event4,
  #event5,
  #event6,
  #event7,
  #event8 {
    bottom: 0px;
  }
}
@media screen and (max-width: 400px) {
  .left::after,
  .right::after {
    left: -38px;
  }
  #timeline {
    padding: 10px;
  }
  #timeline-container {
    padding: 30px 30px 30px 0px;
  }
  .container-dates p {
    font-size: 1.4em;
  }
}

/* styling structure */
#structure {
  background-color: var(--orange-color);
  color: var(--white-color);
}
.structure-container {
  position: relative;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.structure-card {
  position: relative;
  width: 270px;
  height: 420px;
  box-shadow: 1px 1px 3px 1px var(--white-color);
  border-radius: 15px;
  margin: 10px;
  /* background-color: #fff; */
  background-color: rgba(211, 211, 211, 0.2);
  color: #ff4e00;
  color: black;
  overflow: hidden;
  transition: 0.5s;
}
.structure-card .structure-box {
  position: absolute;
  top: 10px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  border-radius: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
}
.structure-card:hover .structure-box {
  background: linear-gradient(45deg, #ec9f05e5, hsla(18, 100%, 50%, 0.733));
}
.structure-content {
  /* position: absolute; */
  bottom: 5px;
  padding: 20px;
  padding: 15px;
  font-size: 18px;
}
.structure-content h2 {
  color: var(--orange-color);
  color: black;
  font-weight: 800;
  font-size: 1.8em;
  transition: 0.5s;
  text-align: center;
  padding: 30px 0;
}
#doc {
  padding-top: 1px;
}
.stru-content {
  font-size: 2.3em;
}
.stru-content span {
  color: #2C599D;
}
.structure-card:hover .structure-box .structure-content h2 {
  color: #fff;
}
.structure-card:hover .structure-box .structure-content ul {
  color: #fff;
}
ul {
  list-style-type: none;
}
@media screen and (max-width: 1200px) {
  .structure-content h2 {
    font-size: 2rem;
    color: black;
  }
  .structure-content ul {
    font-size: 1.5rem;
  }
  .structure-card .structure-box {
    flex-direction: column;
    margin: 20px 10px;
  }
  .structure-card {
    position: relative;
    width: 280px;
    height: 280px;
    box-shadow: 1px 1px 3px 1px var(--white-color);
    border-radius: 15px;
    margin: 10px;
    color: black;
    overflow: hidden;
    transition: 0.5s;
  }
}
@media screen and (max-width: 400px) {
  .structure-content h2 {
    font-size: 1rem;
  }
  .structure-card .structure-box {
    flex-direction: column;
    margin: 5px 5px;
  }
  .structure-content h2 {
    font-size: 1.3em;
    transition: 0.5s;
    text-align: center;
    padding: 10px 0;
  }
}
