*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    animation: normal;
}

/* Navbar */
nav {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    border-radius: 0px 0px 35px 35px;
}
nav .mainMenu {
    display: flex;
    list-style: none;
    align-items: center;
}
nav .mainMenu li a {
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    font-weight: bold;
    /* transition: 1s; */
}
nav .mainMenu li a:hover {
    color: rgb(255,94,0);
    text-transform: uppercase;
    font-weight: bold;
}
nav .openMenu {
    font-size: 1rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}
nav .mainMenu .closeMenu , .icons i {
    font-size: 1rem;
    display: none;
    cursor: pointer;
}
/* .fa-facebook:hover {color: rgb(0, 110, 255);}
.fa-twitter:hover {color: rgb(86, 154, 243);}
.fa-instagram:hover {color: rgb(255, 0, 191);}
.fa-github:hover {color: rgb(255, 123, 0);} */


nav .logo {
    margin: 6px;
    font-size: 25px;
    cursor: pointer;
}

.register-btn{
    background: #FF6701;
    color: rgb(255, 255, 255);
    padding: 10px;
    border : none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.5s;
}
.register-btn:hover{
    color: #FF6701;
    background-color: rgb(255, 255, 255);
    /* padding: 10px; */
    /* border : 0.1px solid #FF6701; */
    border-radius: 20px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.5s;
}
@media(max-width: 800px){
    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgb(255, 94, 0);
        color: #fff;
        transition: top 1s ease;
        align-items: center;
        display: none;
    }
    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;

    }
    nav .openMenu {
        display: block;
    }
    nav .mainMenu li a{
        color: #fff;
        font-weight: bold;
    }
     nav .mainMenu li a:hover {
        color: white;
     }
    .icons i {
        display: inline-block;
        padding: 12px;
    }
}

.nav-underline,
.nav-underline-about,
.nav-underline-contact,
.nav-underline-event{
    text-decoration: none;
    position: relative;
}

.nav-underline:hover:after{
    content: '';
    position: absolute;
    bottom: 1.3rem;
    left: 42%;
    transform: translateX(-50%);
    background-color: #FF7518;
    width: 2rem;
    height: 2px;
    border-radius: 0.8rem;
}

.nav-underline-about:hover:after{
    content: '';
    position: absolute;
    bottom: 1.3rem;
    left: 38%;
    transform: translateX(-50%);
    background-color: #FF7518;
    width: 2rem;
    height: 2px;
    border-radius: 0.8rem;
}

.nav-underline-contact:hover:after{
    content: '';
    position: absolute;
    bottom: 1.3rem;
    left: 31%;
    transform: translateX(-50%);
    background-color: #FF7518;
    width: 2rem;
    height: 2px;
    border-radius: 0.8rem;
}

.nav-underline-event:after{
    content: '';
    position: absolute;
    bottom: 1.3rem;
    left: 40%;
    transform: translateX(-50%);
    background-color: #FF7518;
    width: 2rem;
    height: 2px;
    border-radius: 0.8rem;
}

nav .mainMenu li a.nav-underline-event {
    color: rgb(255,94,0);
}

/* Styling Events Page*/

.event-section{
    padding: 0 5rem 2rem;
}

.event-heading h2{
    position: relative;
    font-size: 36px;
    text-align: center;
    padding : 2rem 0 0;
}

.event-heading h4{
    color: #FF7A19;
    font-size: 20px;
    text-align: center;
    padding: 1rem 0 2rem;
}

.event-heading h2:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FF7518;
    width: 11rem;
    height: 4px;
    border-radius: 0.8rem;
}

.event-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 4rem;
}

.event-details img{
    width: 500px;
    height: 100%;
    border: 3px solid #FF6701;
    padding: 1rem;
    border-radius: 15px;
}

@media (max-width:768px){
    .event-details img{
        width:300px;
    }
}

/* Contact Section */

.contact{
    background-color: #FF8400;
    color: white;
    padding: 3rem 5rem 0;
}

.contact-heading-section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-heading{
    text-align: left;
    font-size: 1.5rem;
    font-weight: bolder;
}

.social-media{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.social-media a{
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    cursor: pointer;
    padding: 0.5rem;
}

.contact-links{
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 3rem 0 3rem;
    flex-wrap: wrap;
    gap:2rem;
}

.quick-links h3{
    position: relative;
}

.quick-links h3::after{
    content: '';
    position: absolute;
    bottom: 0rem;
    left: 87%;
    transform: translateX(-50%);
    background-color: #ffffff;
    width: 2rem;
    height: 2px;
    border-radius: 0.8rem;
    opacity: 0.5;
}

.contact-logo{
    background-color: #FFF3E5;
    border-radius: 50rem;
    width: 130px;
    height: 100%;
}

.contact-links ul{
    list-style-type:none;
    text-align: right;
}

.contact-links ul li{
    margin: 6px 0 0;
}

.contact-copyright{
    background-color: #FFAD76;
    color: white;
    text-align: center;
    padding: 1rem;
}

@media (max-width:786px) {
    .contact{
        padding: 3rem 2rem 0;
    }

    .contact-links{
        justify-content: center;
    }
}